<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Delegate.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Delegate.UI.Properties.Settings>
      <setting name="DGDamage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGDamagePercent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGPlayer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGClass" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGTarget" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGDps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGCritPercent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGHealing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGHps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGLastActive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OpacityValue" serializeAs="String">
        <value>20</value>
      </setting>
    </Delegate.UI.Properties.Settings>
  </userSettings>
</configuration>
